<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

    <property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%-16.16thread] %clr(%-5level) %clr(%-39.39logger{36}){cyan} - %msg%n"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="com.sun" level="WARN"/>

    <springProfile name="default,dev">
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.springframework.jdbc.core" level="DEBUG"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
